.scanner{
    padding: 8px 14px;
    border-radius: 8px;
    background-color: rgb(5, 5, 96);
    box-shadow: 2px 1px 4px black;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.scanner:hover{
    border: 2px solid rgb(5, 5, 96);
    background-color: white;
    color: rgb(5, 5, 96);
    font-size: 16px;
    font-weight: 800;
}
.scanner input {
    display: none
}
.registro-de-invitado{
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    background-color: rgb(16, 84, 13);
    box-shadow: 1px 2px 4px rgb(47, 44, 44);  
    font-size: 14px;  
    font-weight: 500;
}
.registro-de-invitado:hover{
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(17, 84, 13, 0.508);
}
.registro-de-invitado:active{
    font-size: 16px;
    font-weight: 700;
    color: rgb(16, 84, 13);
    border: 1px solid rgb(16, 84, 13);
    background-color: white;
}

.registro-de-invitado:disabled{
    opacity: 0.7;
}