.scanner-container{
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.scanner-container h1{
    color: rgb(55, 20, 20);
    font-weight: 800;
    font-size: 18px;
}